body{
 
    background-color: darkslategray;
}


#header-title {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

#header-title h1 {
  margin: 0;
  font-size: 2.5rem;
  letter-spacing: 2px;
}


.movie-wrapper {
  
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1rem;


}

.topRated-card {
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(10, 10, 10, 0.3);
}



/* p{
    display: flex;
    text-wrap: wrap;
} */


/* div{
  border: 2px solid black;
      display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 30px;
  grid-auto-rows: 100px;
 
  
} */

/* div{ */
     /* border: 2px solid black;
      display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
} */


img{
    width: 5rem;
    height: 5.5rem;
}

